<section class='title'>
  <h1> CSV File Splitter </h1>
  <h2 class='subtitle'> Convert your document into separate CSV files, with 50 lines each. </h2>
</section>

<section class='help'>
  <h2 class='subtitle'> How to use it? </h2>
  <ul>
    <li> Enter the email address where the split files should be sent. </li>
    <li> Select the CSV file you want to split. </li>
    <li> Click on the "Split CSV" button. </li>
  </ul>
</section>

<section class='home'>
  <div class="form-group">
    <%= form_with url: import_path, method: :post do |f| %>
      <div class= "col-6 col-md-4">
        <%= f.label :user_email %>:
        <%= f.text_field :email, class:'form-control' %>
      </div>
      <hr>
      <div class='form-group mt-3'>
        <%= f.file_field :csv_file, class: "search_btn", accept: '.csv' %>
      </div>
      <hr>
      <div class='label'>
        <%= f.submit 'Split CSV', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</section>
